html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #222;
  color: #bbb;
  color-scheme: dark;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}

.dark::view-transition-old(root) {
  z-index: 9999;
}

.dark::view-transition-new(root) {
  z-index: 1;
}

@font-face {
  font-display: swap;
  font-family: Graphik;
  src: url(./assets/fonts/Graphik-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal
}

@font-face {
  font-display: swap;
  font-family: Graphik;
  src: url(./assets/fonts/Graphik-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal
}
